@use '../core/mixins';

.wc-block-components-quantity-selector {
	& > .wc-block-components-quantity-selector__button--plus,
	& > .wc-block-components-quantity-selector__button--minus {
		height: 52px;
	}
}

.woocommerce-page {
	table.shop_table,
	table.shop_table_responsive {
		// border: 0 none !important;
		// th, td {
		// 	border: 0 none !important;
		// }
		.product-remove,
		.product-thumbnail {
			display: none;
		}
		.product-quantity {
			.quantity {
				.qty {
					padding: 0;
					background: #F0EFED;
					border-radius: 4px;
					height: 22px;
					font-size: 0.875rem;
				}
			}
		}
	}
	form.woocommerce-cart-form {
		table {
			border-radius: 24px;
			overflow: hidden;
			border-collapse: separate;
			border: 0 none;
			margin-bottom: 10px;
			th {
				border: 0 none;
				background: #fff;
				border-radius: 24px 24px 0 0;
				border: 10px solid var(--wp--preset--color--brand-dust);
				border-bottom: 0 none;
				color: var(--wp--preset--color--brand-charcoal) !important;
				padding-bottom: 0;
			}
			td {
				// border: 0 none;
				background: #fff;
				border: 10px solid var(--wp--preset--color--brand-dust);
				font-size: 0.875rem;
				@media (max-width: 768px) { 
					border-left: 0 none;
					border-right: 0 none;
				}
				&.actions {
					.coupon {
						align-items: center;
						.input-text#coupon_code {
							height: 40px;
							border: 0 none;
							background: var(--wp--preset--color--brand-dust);
						}
					}
					button {
						height: 40px;
						padding: 8px 16px;
						border-radius: 8px;
						background-color: var(--wp--preset--color--brand-charcoal);
						color: #fff;
						border: 0 none;
						font-family: var(--wp--preset--font-family--gotham-narrow);
						font-size: 1rem;
						font-weight: 500;
						display: inline-block;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						&[name="update_cart"] {
							background: #fff;
							border: 2px solid var(--wp--preset--color--brand-charcoal);
							color: var(--wp--preset--color--brand-charcoal);
							padding: 4px 16px;
						}
					}
					
				}
			}
			tr {
				&.cart_item {
					td {
						border-radius: 0 0 24px 24px;
						border-top: 0;
						vertical-align: top;
						@media (max-width: 782px) {
							border-bottom: 0;
							border-radius: 0;
							padding-top: 5px;
							padding-bottom: 5px;
							&.product-name {
								padding-top: 16px;
							}
							&.product-subtotal {
								padding-bottom: 16px;
							}
						}
						@media (min-width: 783px) {
							border-radius: 0 0 24px 24px;
						}
					}
					& + .cart_item {
						border-radius: 0;
					}
				}
				&.cart_item:not(:nth-last-child(2)) {
					td {
						@media (min-width: 783px) {
							border-bottom: 0 none;
							border-radius: 0;
						}
					}
				}
				&.cart_item:nth-last-child(2) {
					td {
						@media (max-width: 782px) {
							&:last-child {
								border-radius: 0 0 24px 24px;
							}
						}
					}
				}
				&:not(.cart_item) {
					td {
						border-radius: 24px;
					}
				}
				&:nth-child(2n) {
					td {
						background-color: #fff;
					}
				}
			}
		}
	}
	.cart-collaterals {
		.cart_totals  {
			float: none;
			width: auto;
			background: #fff;
			border-radius: 24px;
			padding: 16px;
			@media (min-width: 783px) {
				padding: 24px;
				margin-left: 10px;
				margin-right: 10px;
			}
			h2 {
				font-weight: normal;
				margin-top: 0;
				margin-bottom: 24px;
			}
			table {
				border: 0 none;
				th, td {
					border: 0 none;
					padding: 8px 0;
				}
				td {
					text-align: right;
				}
			}
		}
		.wc-proceed-to-checkout {
			margin-top: 16px;
			padding: 16px 24px;
			background-color: var(--wp--preset--color--brand-charcoal);
			border-radius: 12px;
			.checkout-button {
				margin-bottom: 0;
				border-radius: 8px;
				padding: 8px 16px;
				background-color: #fff;
				color: var(--wp--preset--color--brand-charcoal);
				border: 0 none;
				font-family: var(--wp--preset--font-family--gotham-narrow);
				font-size: 1rem;
				font-weight: 500;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include mixins.arrow-after;
				@media (min-width: 782px) {
					height: 40px;
				}
			}
		}
	}
}

.woocommerce-page {
	.select2-container {
		.select2-search__field, 
		.select2-selection {
			border-radius: 8px;
			border: 0 none;
			padding: 8px;
			height: 40px;
			.select2-selection__arrow {
				height: 40px;
			}
		}
	}
	.select2-dropdown {
		border-radius: 0 0 8px 8px;
		border: 0 none;
	}
	.input-text {
		padding: 8px;
	}

}

.woocommerce {
	.remove-wrapper {
		a.remove {
			color: var(--wp--preset--color--brand-oliver) !important;
			font-size: .8125rem;
			font-weight: normal;
			display: flex;
			gap: 12px;
			align-items: center;
			width: auto;
			height: auto;
			border-radius: 0;
			transition: color 0.2s;
			margin-top: 8px;
			@media (min-width: 783px) {
				margin-top: 32px;
			}
			&::after {
				content: "";
				width: 13px;
				height: 12px;
				clip-path: url(#close-small);
				background-color: currentColor;
				transition: background-color 0.2s;
			}
			&:hover {
				background: transparent;
				color: var(--wp--preset--color--brand-charcoal) !important;
			}
		}
	}
	div.product {
		margin-top: 0;
		.woocommerce-tabs {
			ul.tabs {
				display: none;
			}
			.panel {
				& > * {
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
		div.images .woocommerce-product-gallery__wrapper {
			border-radius: 16px;
			overflow: hidden;
		}
		form.cart {
			display: flex;
			justify-content: center;
			gap: 16px;
			margin-bottom: 0;
			&::before {
				display: none;
			}
			table.variations {
				width: auto;
				margin: 0;
				.label,
				.value {
					padding-bottom: 0;
				}
			}
			body.product_cat-courses & {
				opacity: 0.5;
				// div.quantity {
				// 	display: none !important;
				// }	
			}
			button.single_add_to_cart_button, 
			button[name=add-to-cart] {
				background: #fff !important;
				color: var(--wp--preset--color--brand-charcoal) !important;
				    padding-top: 9px;
			}
			select {
				border-radius: 8px;
				padding: 3px 8px 3px 16px !important;
				border-color: #fff !important;
				background: none !important;
				@include mixins.select;
				&::picker-icon {
					background-image: url(./images/chevron-down-white.svg) !important;
					margin-top: 4px;
				}
			}
			.single_variation_wrap {
				display: flex;
				align-items: center;
				gap: 16px;
				*[role="alert"] {
					order: 100;
					margin: 0;
					line-height: 1;
					p {
						margin: 0;
					}
				}
			}
			
		}
		.wp-block-woocommerce-product-price {
			text-align: center;
			margin-top: 8px;
		}
	}
	.woocommerce-breadcrumb {
		margin: 0;
		span {
			&:nth-child(2),
			&:nth-child(3) {
				display: none;
			}
		}
	}
	
	
	
}

.wc-block-mini-cart__button {
	
	.wc-block-mini-cart__quantity-badge {
		
		
		.wc-block-mini-cart__icon {
			width: 24px;
			height: 24px;
		}
	}
}

.wp-block-woocommerce-mini-cart {
	&:is([data-cart-items-count]):not([data-cart-items-count="0"]) {
		.wc-block-mini-cart__button::before {
			background-image: url(./images/icon-cart-full.svg);
		}
	}
	.wc-block-mini-cart__button {
		padding: 0;
		position: relative;
		width: 40px;
		height: 40px;
    border-radius: 20px;
		transition: background-color 0.2s;
		@media( hover: hover ) {
			&:hover {
				background-color: #DBD6D1;
			}
		}
		// @media( hover: hover ) {
		// 	transition: opacity 0.3s;
		// 	background-color: transparent !important;
		// 	&:hover {
		// 		opacity: 0.7;
		// 	}
		// }
		&::before {
			content: '';
			width: 24px;
			height: 24px;
			background: url(./images/icon-cart.svg) 0 0/100% auto no-repeat;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

		}
		.wc-block-mini-cart__quantity-badge {
			// align-items: center;
			// justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 40px;
			display: none;
			svg {
				display: none;
			}
			.wc-block-mini-cart__badge {
				background: var(--wp--preset--color--brand-yellow);
				font-weight: normal;
				border: 0 none;
				margin-left: 0;
				transform: none;
				left: auto;
				right: 0;
				top: 0;
				align-items: center;
				justify-content: center;
				font-size: 0.75rem;
			}
		}
		
		
		// &:not([aria-label^="0"]):not([aria-label^="1"]) {
		// 	.wc-block-mini-cart__quantity-badge {
		// 		display: block;
		// 	}
		// }
		// body:not(.cart-total-0) & {
		// }
	}	
}

.wc-block-components-drawer__screen-overlay {
	z-index: 99999;
}

body.product_cat-courses.woocommerce {
	.wp-block-woocommerce-product-price {
		display: none !important;
	}
	div.product form.cart div.quantity {
		// display: none !important;
		.qty {
			height: 40px;
		}
	}
}

// .wc-block-components-quantity-selector {
// 	&::after {
// 		border-radius: 0;
// 	}
// }

// .wc-block-components-product-metadata {
// 	font-size: var(--wp--custom--typography--font-size--small);
// 	line-height: var(--wp--custom--typography--line-height--small);
// }

// .wc-block-mini-cart__footer {
// 	border-top: 1px solid var(--wp--preset--color--ggc-green-m-80-pc);
// 	.wc-block-mini-cart__footer-actions {
// 		.wc-block-components-button.outlined,
// 		.wc-block-components-button.outlined:not(.is-link) {
// 			// @include mixins.button;
// 			@include mixins.button-outline;
// 		}
// 		.wc-block-components-button.contained,
// 		.wc-block-components-button.contained:not(.is-link) {
// 			// @include mixins.button;
// 			@include mixins.button-green;
// 		}
// 	}
// 	.wc-block-components-totals-item.wc-block-mini-cart__footer-subtotal {
// 		.wc-block-components-totals-item__label, 
// 		.wc-block-components-totals-item__value {
// 			font-size: var(--wp--custom--typography--font-size--medium);	
// 			line-height: var(--wp--custom--typography--line-height--medium);
// 		}
// 		.wc-block-components-totals-item__description {
// 			font-size: var(--wp--custom--typography--font-size--small);
// 			line-height: var(--wp--custom--typography--line-height--small);
// 		}
// 	}
	
// }

// table.wc-block-cart-items {
// 	td, th {
// 		margin-bottom: 0;
// 	}
// 	.wc-block-cart-items__row {
// 		.wc-block-cart-item__quantity {
// 			.wc-block-cart-item__remove-link {
// 				font-size: var(--wp--custom--typography--font-size--small);
// 				line-height: var(--wp--custom--typography--line-height--small);
// 			}
// 		}
// 	}
// }

// .wc-block-mini-cart__shopping-button {
// 	a {
// 		// @include mixins.button;
// 		@include mixins.button-green;
// 	}
// }

// .wc-block-components-drawer__close {
// 	margin: -11px -11px 0 0;
// 	padding: 6px 18px;
// }

div[data-block-name="woocommerce/page-content-wrapper"] {
	@media (max-width: 781px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.woocommerce div.product div.images {
	margin-bottom: 0;
}

.woocommerce-product-gallery__image > a {
	pointer-events: none;
}

.woocommerce-page {
	form {
		&.checkout {
			h3 {
				margin-bottom: 0.5em;
			}
		}
		.form-row {
			label {
				color: var(--wp--preset--color--brand-charcoal) !important;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1.5em;
				margin-bottom: 6px;
			}
			input.input-text,
			select, 
			textarea.input-text {
				border: 0 none;
				height: 40px;
				border: 0 none;
				background: #fff; // var(--wp--preset--color--brand-dust);
				border-radius: 8px;
				color: var(--wp--preset--color--brand-oliver);
				&.select2-search__field {
					background: var(--wp--preset--color--brand-dust);
				}
			}
			.select2-container {
				.select2-selection__rendered:has(.select2-selection__clear) {
					& + .select2-selection__arrow {
						display: none;
					}
				}
				.select2-selection__clear {
					font-size: 1rem;
				}
				.select2-selection--single {
					padding: 0;
					.select2-selection__rendered {
						padding-top: 12px;
						padding-bottom: 12px;
					}
				}
				.select2-selection__arrow {
					// display: none !important;
				}
			}
		}
	}
	.select2-dropdown {
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
		border-radius: 12px;
	}
	.select2-container {
		.select2-search--dropdown {
			padding-top: 0.5em;
			.select2-search__field {
				background: var(--wp--preset--color--brand-dust);
			}
		}
	}
}

.woocommerce,
.woocommerce-page {
	.col2-set {
		.col-1, .col-2 {
			width: auto;
			float: none;
		}
	}
} 