@use '../core/mixins';
@use '../../../../node_modules/flickity/css/flickity.css';

.account_modal_content form .save_collections,
.save_collections {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 18px;
	margin-top: 50px !important;
	margin-bottom: 60px;
	li {
		label {
			// border: 1px solid var(--wp--preset--color--brand-charcoal);
			color: var(--wp--preset--color--brand-charcoal);
			border-radius: 14px;
			display: block;
			padding: 6px 8px;
			line-height: 1.25em;
			box-shadow: 0px 0px 4px 0px #00000040;
			display: flex;
			align-items: flex-end;
			aspect-ratio: 1.3;
			font-size: 0.8125rem;
			position: relative;
			transition: box-shadow 0.2s;
			&::before {
				content: "";
				width: 20px;
				height: 18px;
				background: url(./images/folder.svg) 0 0/100% auto no-repeat;
				position: absolute;
				top: 10px;
				left: 8px;
			}
			&[for*="add_new"] {
				background: #F0EFED;
				&::before {
					height: 20px;
					background-image: url(./images/plus.svg);
				}
			}
		}
		&:hover {
			label {
				box-shadow: 0px 0px 4px 0px #00000090;
			}
		}
		input[type="radio"] {
			display: none;
			&:checked + label {
				background-color: var(--wp--preset--color--brand-yellow);
				border-color: var(--wp--preset--color--brand-yellow);
				color: #fff;
			}
		}
	}
}

#collections {
	position: relative;
	&.loading {
		background-image: url('./images/loading.svg');
		background-position: center center;
		background-repeat: no-repeat;
		min-height: 200px;
	}
}

.loading_collections {
	height: 200px;
	background-image: url('./images/loading.svg');
	background-position: center center;
	background-repeat: no-repeat;
}

.collection_grid {
	list-style: none;
	padding-left: 0;
	position: relative;
	transition: opacity .3s ease;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 32px;
	margin-bottom: 32px;
	li {
		position: relative;
		aspect-ratio: 1;
		border-radius: 12px;
		overflow: hidden;
		img {
			width: 100%;
			aspect-ratio: 1;
			object-fit: cover;
		}
		a {
			display: flex;
			width: 100%;
			min-height: 100%;
			align-items: center;
			justify-content: center;
			background-color: #3D3834;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			padding: 16px;
			&:has(> img) {
				padding: 0;
			}
			&:hover {
				text-decoration: none;
			}
			&::after {
				pointer-events: none;
			}
			span {
				color: #fff;
				text-align: center;
				position: relative;
				z-index: 10;
				pointer-events: none;
			}
			* {
				pointer-events: none;
			}
		}
	}
}

.collection_names {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 40px var(--wp--preset--spacing--40);
	list-style: none;
	padding-left: 0;
	&.hidden {
		display: none;
		& + .wp-block-buttons {
			display: none;
		}
	}
	li {
		position: relative;
		.wp-block-post-featured-image {
			display: block;
			&:not(:has(img)) {
				aspect-ratio: 5/3;
				background: var(--wp--preset--color--brand-oliver);
				border-radius: 12px;
			}
			img {
				width: 100%;
				aspect-ratio: 5/3;
				border-radius: 12px;
				display: block;
				opacity: 1;
				object-fit: cover;
				height: auto;
			}
		}
		h3 {
			margin: 0;
			padding-left: 8px;
			padding-right: 8px;
			font-size: var(--wp--custom--typography--font-size--heading-4);
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 100%;
			display: block;
			overflow: hidden;
			a {
				@include mixins.arrow-after;
			}
		}
		a {
			display: block;
		}
	}
}

.collection {
	display: none;
}

.collection.active {
	display: block;
}

.collection_grid {
	.collection-image-link {
		img {
			pointer-events: none;
			opacity: 1;
		}
	}
}

.collection img {
	position: relative;
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
	z-index: 1;
}

.edit_image {
	position: absolute;
	bottom: 16px;
	right: 16px;
	width: 22px;
	height: 20px;
	z-index: 2;
	background: var(--wp--preset--color--brand-yellow);
	clip-path: url(#heart-solid);
}

.collection_links {
	padding-left: 0;
	list-style: none;
	display: flex;
	gap: 16px;
	justify-content: flex-end;
	.edit_notes,
	.edit_collection,
	.delete_collection {
		font-size: 0;
		&::before {
			content: "";
			width: 24px;
			height: 24px;
			background: #000;
			display: block;
		}
	}
	.delete_collection::before {
		background: url(./images/trash.svg) 0 0/100% auto no-repeat;
	}
	.edit_notes::before {
		background: url(./images/attachment.svg) 0 0/100% auto no-repeat;
	}
	.edit_collection::before {
		background: url(./images/edit.svg) 0 0/100% auto no-repeat;
	}
}

.showing_gallery header {
	display: none;
}

.full_gallery_slides {
	position: relative;
	width: 100svw;
	height: 100svh;
	max-width: none !important;
	z-index: 1;
}

.flickity-enabled {
	.flickity-viewport {
		height: 100svh !important;
		.flickity-cell {
			// padding: 50px 10svw;
			padding: 64px 24px;
			width: 100%;
			max-width: none;
			height: 100svh;
			display: grid;
			grid-template-rows: 60px minmax(0, auto);
			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
				object-position: center;
				border-radius: 8px;
				justify-self: center;
				align-self: center;
			}
		}
	}
	.flickity-button {
		padding: 0;
		width: 32px;
		height: 32px;
		background: url(./images/carousel-arrow-left.svg) 0 0/100% auto no-repeat;
		svg {
			display: none;
		}
		&:focus {
			box-shadow: none;
		}
		&.previous {
			left: 40px;
		}
		&.next {
			background: url(./images/carousel-arrow-right.svg) 0 0/100% auto no-repeat;
			right: 40px;
		}
	}
}

.full_gallery {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 99999;
	background: #fff;
	max-width: none;
	margin: 0;
	&.active {
		display: block;
	}
	.slide_text {
		color: #000;
		& > * {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}	
}

.close_full_gallery {
	position: absolute;
	z-index: 999;
	top: 24px;
	right: 24px;
	color: var(--wp--preset--color--brand-charcoal);
	width: auto !important;
	display: flex;
	gap: 16px;
	align-items: center;
	&:hover {
		text-decoration: none;
	}
	&::after {
		content: "";
		background: var(--wp--preset--color--brand-charcoal);
		width: 15px;
		height: 15px;
		clip-path: url(#close-modal);
		display: block;
	}
}

.thumb_gallery {
	position: fixed;
	top: 0;
	left: 0;
	background: pink;
	z-index: 2000;
}


.full_gallery {
	// .flickity-button-icon {
	// 	fill: var(--wp--preset--color--brand-yellow);
	// }
	.flickity-prev-next-button {
		// position: absolute;
		// top: 50%;
		// margin-top: -30px;
		// width: 58px;
		// height: 58px;
		// border-radius: 0;
		// &.previous {
		// 	left: 15px;
		// }
		// &.next {
		// 	right: 15px;
		// }
	}
}

@media screen and (max-width: 768px) {

	.collection_names li {
		width: 33.3333%;
	}

	.full_gallery .slide_image {
		top: 90px;
		left: 10px;
		right: 10px;
	}

	.full_gallery .slide_text {
		left: 20px;
		right: 20px;
		height: 140px;
	}

}

@media screen and (max-width: 500px) {

	.collection_names li {
		width: 50%;
	}

	// .save_collections li {
	// 	width: 50%;
	// }
}


.homebase_my_account_auth_prompt {
	#my-account-loginform {
		display: flex;
		flex-direction: column;
		gap: 24px;
		& > * {
			margin-top: 0;
			margin-bottom: 0;
		}
		.login-submit {
			display: none;
		}
		button {
			display: flex;
			gap: 15px;
			align-items: center;
		}
	}
	.wp-block-group:has(> &) {
		max-width: 544px;
	}
	label {
		display: none;
	}
	input[type=text], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=datetime], input[type=datetime-local], input[type=date] {
		@include mixins.text-input-underline;
	}
	.login-submit {
		input[type="submit"] {
			width: 100%;
			text-align: left;
		}
	}
	#nsl-custom-login-form-1 {
		order: -1;
		&::after {
			content: "OR";
			width: 100%;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 16px 0 0;
			color: var(--wp--preset--color--brand-charcoal);
		}
	}
	.nsl-container.nsl-container-block.nsl-container-embedded-login-layout-below {
		padding-top: 0 !important;
		.nsl-container-buttons {
			padding: 0 !important;
			grid-template-columns: 1fr;
			display: grid;
			a {
				width: 100%;
				margin: 0 !important;
				.nsl-button {
					border-radius: 8px;
				}
			}
		}
	}
	.account-create-reset {
		// margin-top: 24px;
		p {
			text-align: center;
			color: var(--wp--preset--color--brand-charcoal);
			margin: 24px 0;
		}
	}
}

.course_kit {
	display: grid;
	grid-template-columns: 152px minmax(0, 1fr) 210px;
	background: #fff;
	padding: 8px;
	background: #fff;
	border-radius: 16px;
	column-gap: 32px;
	align-items: center;
	& + .course_kit {
		margin-top: 16px;
	}
	img {
		max-width: 100%;
		height: 100px;
		object-fit: cover;
		border-radius: 12px;
	}
	h4 {
		margin: 0 0 0.4em;
	}
	p {
		margin: 0;
		line-height: 1.2em;
		&.sub-heading {
			color: #A19A94;
		}
	}
	.wp-block-buttons {
		justify-self: end;
		.wp-block-button__link {
			background-color: #fff;
			color: var(--wp--preset--color--brand-charcoal);
			border: 0 none;
			&:hover {
				background: #fff !important;
			}
		}
	}	
}

.my_account_tab {
	& > h3 {
		padding-left: 10px;
	}
}