body.single-display, 
body.signle-post {
	.wp-block-columns {
		.wp-block-column:has(> .display-social-links) {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
	}
}