@use '../core/mixins';


* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	--home-base--radius: 24px;
	--home-base--spacing--16-32: clamp(1rem, -0.25rem + 4vw, 2rem);
	
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
}

// :where(.wp-block-group.has-background) {
// 	padding: 1.25em var(--wp--custom--spacing--outer);
// 	// @media (min-width: 650px) {
// 	// 	padding: 1.25em 2.375em;
// 	// }
// }

img {
	&[loading="lazy"] {
		opacity: 0;
		transition: opacity 0.2s;
	}
	&.has-loaded {
		opacity: 1;
	}
}

input[type="text"],
input[type="email"],
input[type="number"], 
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"] {
	@include mixins.text-input;
}
input[type="submit"],
button {
	@include mixins.button;
}

.display-location {
	ul {
		list-style: none;
		padding-left: 0;
		display: flex;
		column-gap: 24px;
		row-gap: 8px;
		align-items: center;
		margin: 0;
		flex-wrap: wrap;
		li {
			display: flex;
			gap: 8px;
			flex-wrap: nowrap;
			align-items: center;
			color: #000;
			font-size: 0.8125rem;
			&::before {
				content: "";
				width: 24px;
				height: 24px;
				background: #000;
				display: block;
			}
			&.display-number::before {
				background: url(./images/hex.svg) 50% 50%/20px 22px no-repeat;
			}
			&.display-grid-ref {
				cursor: pointer;
				span {
					text-decoration: underline;
				}
				&::before {
					background: url(./images/pin.svg) 50% 50%/18px 23px no-repeat;
				}
			}
		}
	}
}

.post-social-links,
.display-social-links,
.display-save {
	display: flex;
	column-gap: 32px;
	// margin: 0;
	& > button {
		width: 24px;
		height: 24px;
		background: transparent;
		border-radius: 0;
		padding: 0;
		cursor: pointer;
		transition: opacity 0.2s;
		position: relative;
		@media (hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
		
		&.facebook {
			background: url(./images/facebook.svg) 50% 50%/20px 20px no-repeat;
		}
		&.instagram {
			background: url(./images/instagram.svg) 50% 50%/20px 20px no-repeat;
		}
		&.display-lead-email {
			background: url(./images/chat.svg) 50% 50%/20px 21px no-repeat;
		}
		&.display-lead-phone_number {
			background: url(./images/phone.svg) 50% 50%/22px 22px no-repeat;
		}
		&.display-lead-url {
			background: url(./images/globe.svg) 50% 50%/24px 24px no-repeat;
		}
		&.my-account {
			width: auto;
			background-color: transparent;
			color: #000;
			a {
				display: flex;
				gap: 8px;
				align-items: center;
				&::before {
					content: "";
					width: 24px;
					height: 24px;
					background: url(./images/my-account.svg) 50% 50%/100% auto no-repeat;
					display: block;
				}
				// &::after {
				// 	content: "";
				// 	width: 10px;
				// 	height: 10px;
				// 	background: #000;
				// 	display: block;
				// }
			}
			&:not(.logged-in) {
				a {
					@include mixins.arrow-after;
					&::after {
						margin-left: 0;
						background-color: #000;
					}
				}
			}
		}
	}
}

.display-save {
	background: var(--wp--preset--color--brand-yellow);
	padding: 4px 8px;
	border-radius: 8px;
	column-gap: 16px;
	margin: 0;
	button, a {
		&.heart {
			@include mixins.heart-button( #fff, #FFD300 );
		}
		&.display-brochure {
			@include mixins.display-brochure( #fff, #FFD300 );
		}
	}
}

.display-image-gallery {
	max-width: 928px;
	margin-left: auto;
	margin-right: auto;
	ul {
		padding-left: 0;
		list-style: none;
		display: grid;
		// grid-template-columns: repeat(5, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(min(10rem, calc(50% - (var(--home-base--spacing--16-32) / 2))), 1fr));
		gap: var(--home-base--spacing--16-32);
		@media (max-width: 781px) {
			margin-left: -8px !important;
			margin-right: -8px !important;
			width: auto;
		}
		li {
			width: 100%;
			height: 100%;
			position: relative;
			.overlay {
				position: absolute;
				background: rgba(0, 0, 0, 0.8);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				text-overflow: ellipsis;
				overflow: hidden;
				border-radius: 12px;
				padding: 16px;
				z-index: 10;
				opacity: 0;
				transition: opacity 0.2s;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				* { 
					color: #fff;
					margin: 0.5em 0;
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
				@media (hover: hover) {
					&:hover {
						opacity: 1;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 12px;
				display: block;
			}
			.saveimage {
				@include mixins.heart-button( #000, #FFD300 );
				position: absolute;
				bottom: 14px;
				right: 16px;
				z-index: 20;
				// width: 24px;
				// height: 24px;
				// background: url(./images/heart.svg) 50% 50%/22px 20px no-repeat;
				// padding: 0;
				// z-index: 20;
			}
		}
	}
}

.instafeed-placeholder {
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	ul {
		list-style: none;
		padding-left: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		@media (min-width: 992px) {
			grid-template-columns: repeat(3, 1fr);
		}
		li {
			img {
				width: 100%;
				aspect-ratio: 1;
				display: block;
			}
		}
	}
}

.toastify {
	text-align: center;
	border-radius: 12px;
	* {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}
}