@use '../core/mixins';


* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	--home-base--radius: 24px;
	
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
}

// :where(.wp-block-group.has-background) {
// 	padding: 1.25em var(--wp--custom--spacing--outer);
// 	// @media (min-width: 650px) {
// 	// 	padding: 1.25em 2.375em;
// 	// }
// }

img {
	&[loading="lazy"] {
		opacity: 0;
		transition: opacity 0.2s;
	}
	&.has-loaded {
		opacity: 1;
	}
}

input[type="text"],
input[type="email"],
input[type="number"], 
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"] {
	@include mixins.text-input;
}
input[type="submit"],
button {
	@include mixins.button;
}

.display-location {
	ul {
		list-style: none;
		padding-left: 0;
		display: flex;
		column-gap: 24px;
		row-gap: 8px;
		align-items: center;
		li {
			display: flex;
			gap: 8px;
			flex-wrap: nowrap;
			align-items: center;
			color: #000;
			font-size: 0.8125rem;
			&::before {
				content: "";
				width: 24px;
				height: 24px;
				background: #000;
				display: block;
			}
			&.display-number::before {
				background: url(./images/hex.svg) 50% 50%/20px 22px no-repeat;
			}
			&.display-grid-ref::before {
				background: url(./images/pin.svg) 50% 50%/18px 23px no-repeat;
			}
		}
	}
}

.post-social-links,
.display-social-links {
	display: flex;
	column-gap: 32px;

	& > button,
	& > a {
		width: 24px;
		height: 24px;
		background: black;
		border-radius: 0;
		padding: 0;
		cursor: pointer;
		transition: opacity 0.2s;
		position: relative;
		@media (hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
		
		&.heart {
			background: url(./images/heart.svg) 50% 50%/22px 20px no-repeat;
			&.is-active {
				&::after {
					opacity: 1;
				}
			}
			&::after {
				content: '';
				opacity: 0;
				transition: opacity 0.2s;
				width: 24px;
				height: 24px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				background: url(./images/heart-filled.svg) 50% 50%/22px 20px no-repeat;
			}
		}
		&.display-brochure {
			background: url(./images/mobile.svg) 50% 50%/19px 22px no-repeat;
		}
		&.facebook {
			background: url(./images/facebook.svg) 50% 50%/20px 20px no-repeat;
		}
		&.instagram {
			background: url(./images/instagram.svg) 50% 50%/20px 20px no-repeat;
		}
		&.display-lead-email {
			background: url(./images/chat.svg) 50% 50%/20px 21px no-repeat;
		}
		&.display-lead-phone_number {
			background: url(./images/phone.svg) 50% 50%/22px 22px no-repeat;
		}
		&.logged-out { 
			opacity: 0.25;
		}
		a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.display-image-gallery {
	max-width: 928px;
	margin-left: auto;
	margin-right: auto;
	ul {
		padding-left: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 32px;
		li {
			width: 160px;
			height: 160px;
			position: relative;
			.overlay {
				position: absolute;
				background: rgba(0, 0, 0, 0.8);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				text-overflow: ellipsis;
				overflow: hidden;
				border-radius: 12px;
				padding: 8px;
				z-index: 10;
				opacity: 0;
				transition: opacity 0.2s;
				* { 
					color: #fff;
					margin: 0.5em 0;
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
				@media (hover: hover) {
					&:hover {
						opacity: 1;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 12px;
				display: block;
			}
			button {
				position: absolute;
				bottom: 16px;
				right: 16px;
				width: 24px;
				height: 24px;
				background: url(./images/heart.svg) 50% 50%/22px 20px no-repeat;
				padding: 0;
				z-index: 20;
			}
		}
	}
}

.instafeed-placeholder {
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	ul {
		list-style: none;
		padding-left: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		@media (min-width: 992px) {
			grid-template-columns: repeat(3, 1fr);
		}
		li {
			img {
				width: 100%;
				aspect-ratio: 1;
				display: block;
			}
		}
	}
}

.toastify {
	text-align: center;
	* {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}
}