@mixin trim {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin text-input {
	width: 100%;
	height: 40px;
	padding: 8px;
	border-radius: 8px;
	color: var(--wp--preset--color--brand-oliver);
	border: none;
	font-family: var(--wp--preset--font-family--gotham-narrow);
	font-size: 1rem;
	font-weight: 500;
	&::placeholder {
		color: #DBD6D1;
	}
	&:focus-visible {
		outline: 1px auto #fff;
	}
}

@mixin text-input-underline {
	color: var(--wp--preset--color--brand-charcoal);
	background-color: #fff;
	border-color: var(--wp--preset--color--brand-yellow);
	border-width: 0 0 1px 0;
	border-style: solid;
	border-radius: 0;
	width: 100%;
	max-width: 100%;
	font-family: var(--wp--preset--font-family--gotham-narrow);
	font-size: 1rem;
	padding: 10px 2px; // 4px;
	box-sizing: border-box;
	outline: none;
	font-weight: 500;
	&::placeholder {
		color: #A19A94;
	}
	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: 0 none;
		border-color: var(--wp--preset--color--brand-yellow);
		box-shadow: none;
		border-width: 0 0 1px 0;
	}
	&:not([type=file]):not([type=range]):not([readonly]) {
		&:focus,
		&:focus-visible,
		&:focus-within {
			outline: 0 none;
			border-color: var(--wp--preset--color--brand-yellow);
			box-shadow: none;
			border-width: 0 0 1px 0;
		}	
	}
}

@mixin button {
	height: 40px;
	padding: 8px 16px;
	border-radius: 8px;
	background-color: var(--wp--preset--color--brand-charcoal);
	color: #fff;
	border: 0 none;
	font-family: var(--wp--preset--font-family--gotham-narrow);
	font-size: 1rem;
	font-weight: 500;
	display: inline-block;
}

@mixin arrow-after {
	&::after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 12px;
		background: var(--wp--preset--color--brand-yellow);
		clip-path: path("M8.16868 4.09641L1.30121 11.0121L0 9.71087L6.91566 2.8193H2V0.987976H10V9.01207H8.16868V4.09641Z");
		margin-left: 15px;
		transition: all .2s;
		// transform: translate(0, -2px);
	}
	&:hover {
		text-decoration: none;
		@media (hover: hover) {
			&::after {
				transform: translate(2px, -2px);
			}
		}
	}
}

@mixin heart-button( $color: #000, $inactive: #0f0f0f ) {
	width: 24px;
	height: 24px;
	display: block;
	padding: 0;
	background-color: transparent;
	&::before {
		content: "";
		width: 24px;
		height: 24px;
		display: block;
		background-color: $color;
		clip-path: url(#heart-outline);
		pointer-events: none;
		transition: background-color 0.2s;
	}
	@media( hover: hover ) {
		&:hover {
			&::before {
				background-color: var(--wp--preset--color--brand-yellow);
			}
		}
	}
	&.unsave,
	&.unsaveimage {
		&::before {
			background: var(--wp--preset--color--brand-yellow);
			clip-path: url(#heart-solid);
		}
	}
	&.logged-out::before {
		background: $inactive;
	}
}
@mixin display-brochure( $color: #000, $inactive: #0f0f0f ) {
	width: 24px;
	height: 24px;
	display: block;
	&::before {
		content: "";
		width: 24px;
		height: 24px;
		display: block;
		background-color: $color;
		clip-path: url(#brochure);
		pointer-events: none;
	}
	&.logged-out::before {
		background: $inactive;
	}
}

@mixin bookmark( $color: #000, $inactive: #0f0f0f ) {
	width: 24px;
	height: 24px;
	display: block;
	&::before {
		content: "";
		width: 24px;
		height: 24px;
		display: block;
		background-color: $color;
		clip-path: path("M19,22c-.2,0-.3,0-.5-.1l-6.5-3.7-6.5,3.7c-.3.2-.7.2-1,0s-.5-.5-.5-.9V7.8c0-1.8,0-2.8.4-3.6s1-1.4,1.7-1.7c.9-.4,1.8-.4,3.6-.4h4.4c1.8,0,2.8,0,3.6.4.8.4,1.4,1,1.7,1.7.4.9.4,1.8.4,3.6v13.2c0,.4-.2.7-.5.9-.2,0-.3.1-.5.1h.2ZM12,16c.2,0,.3,0,.5.1l5.5,3.1V7.8c0-1.5,0-2.3-.2-2.7s-.5-.7-.9-.9c-.4-.2-1.2-.2-2.7-.2h-4.4c-1.5,0-2.3,0-2.7.2s-.7.5-.9.9c-.2.4-.2,1.2-.2,2.7v11.5l5.5-3.1c.2,0,.3-.1.5-.1h0Z");
		pointer-events: none;
	}
	&.logged-out::before {
		background: $inactive;
	}
}

@mixin close-icon( $colour: #fff ) {
	width: 32px;
	height: 32px;
	display: block;
	cursor: pointer;
	&::before, &::after {
		content: "";
		width: 32px;
		height: 1px;
		background: $colour;
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(45deg);
		pointer-events: none;
	}
	&::after {
		transform: rotate(135deg);
	}
}

@mixin close-icon-dark {
	width: 20px;
	height: 20px;
	display: block;
	position: relative;
	cursor: pointer;
	&::before, &::after {
		content: "";
		width: 100%;
		height: 2px;
		background: var(--wp--preset--color--brand-charcoal);
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(45deg);
		pointer-events: none;
	}
	&::after {
		transform: rotate(135deg);
	}
}