@mixin trim {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin text-input {
	width: 100%;
	height: 40px;
	padding: 8px;
	border-radius: 8px;
	color: var(--wp--preset--color--brand-oliver);
	border: none;
	font-family: var(--wp--preset--font-family--gotham-narrow);
	font-size: 1rem;
	font-weight: 500;
	&::placeholder {
		color: #DBD6D1;
	}
	&:focus-visible {
		outline: 1px auto #fff;
	}
}

@mixin text-input-underline {
	color: var(--wp--preset--color--brand-charcoal);
	background-color: #fff;
	border-color: var(--wp--preset--color--brand-yellow);
	border-width: 0 0 1px 0;
	border-style: solid;
	border-radius: 0;
	width: 100%;
	max-width: 100%;
	font-family: var(--wp--preset--font-family--gotham-narrow);
	font-size: 1rem;
	padding: 10px 4px;
	box-sizing: border-box;
	outline: none;
	font-weight: 500;
	&::placeholder {
		color: #A19A94;
	}
	&:focus-visible {
		outline: 0 none;
	}
}

@mixin button {
	height: 40px;
	padding: 8px 16px;
	border-radius: 8px;
	background-color: var(--wp--preset--color--brand-charcoal);
	color: #fff;
	border: 0 none;
	font-family: var(--wp--preset--font-family--gotham-narrow);
	font-size: 1rem;
	font-weight: 500;
	display: inline-block;
}

@mixin arrow-after {
	&::after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 12px;
		background: var(--wp--preset--color--brand-yellow);
		clip-path: path("M8.16868 4.09641L1.30121 11.0121L0 9.71087L6.91566 2.8193H2V0.987976H10V9.01207H8.16868V4.09641Z");
		margin-left: 15px;
		transition: all .2s;
		// transform: translate(0, -2px);
	}
	@media (hover: hover) {
		&:hover {
			text-decoration: none;
			&::after {
				transform: translate(2px, -2px);
			}
		}
	}
}

@mixin heart-button( $color: #000, $inactive: #0f0f0f ) {
	width: 24px;
	height: 24px;
	display: block;
	&::before {
		content: "";
		width: 24px;
		height: 24px;
		display: block;
		background-color: $color;
		clip-path: path("M12,21.8c-.1,0-.3,0-.4,0-.3,0-.5-.3-.7-.5-2-1.7-6.7-6-8.3-8.1C.1,10.2.6,6,3.5,3.5c2.5-2.1,6-2,8.5.2,2.5-2.2,5.9-2.3,8.5-.2,2.9,2.4,3.4,6.6,1,9.6-1.7,2.1-6.4,6.4-8.3,8.1-.2.2-.4.4-.8.5-.1,0-.3,0-.4,0ZM7.6,4c-.9,0-1.9.3-2.8,1.1-2.1,1.8-2.4,4.7-.8,6.9,1.5,2,6.3,6.3,7.9,7.7,1.7-1.5,6.4-5.7,7.9-7.7,1.7-2.2,1.4-5.1-.7-6.9-2.2-1.9-4.9-1.1-6.4.7l-.8.9-.8-.9c-.9-1.1-2.3-1.8-3.7-1.8Z");
		pointer-events: none;
	}
	&.unsave,
	&.unsaveimage {
		&::before {
			background: red;
		}
	}
	&.logged-out::before {
		background: $inactive;
	}
}
@mixin display-brochure( $color: #000, $inactive: #0f0f0f ) {
	width: 24px;
	height: 24px;
	display: block;
	&::before {
		content: "";
		width: 24px;
		height: 24px;
		display: block;
		background-color: $color;
		clip-path: path("M9,22h-3.2c-1.8,0-2.8,0-3.6-.4-.8-.4-1.4-1-1.7-1.7-.4-.9-.4-1.8-.4-3.6V5.8c0-1.8,0-2.8.4-3.6.4-.8,1-1.4,1.7-1.7.9-.4,1.8-.4,3.6-.4h6.4c1.8,0,2.8,0,3.6.4.8.4,1.4,1,1.7,1.7.4.9.4,1.8.4,3.6v3.7c0,.6-.4,1-1,1s-1-.4-1-1v-3.7c0-1.5,0-2.3-.2-2.7-.2-.4-.5-.7-.9-.9-.4-.2-1.2-.2-2.7-.2h-6.4c-1.5,0-2.3,0-2.7.2-.4.2-.7.5-.9.9-.2.4-.2,1.2-.2,2.7v10.4c0,1.5,0,2.3.2,2.7.2.4.5.7.9.9.4.2,1.2.2,2.7.2h3.2c.6,0,1,.4,1,1s-.4,1-1,1ZM15,21c-.6,0-1-.4-1-1v-2h-2c-.6,0-1-.4-1-1s.4-1,1-1h2v-2c0-.6.4-1,1-1s1,.4,1,1v2h2c.6,0,1,.4,1,1s-.4,1-1,1h-2v2c0,.6-.4,1-1,1Z");
		pointer-events: none;
	}
	&.logged-out::before {
		background: $inactive;
	}
}

@mixin close-icon {
	width: 32px;
	height: 32px;
	display: block;
	cursor: pointer;
	&::before, &::after {
		content: "";
		width: 100%;
		height: 1px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(45deg);
		pointer-events: none;
	}
	&::after {
		transform: rotate(135deg);
	}
}