.wp-block-buttons {
	.wp-block-button {
		&[class*=has-icon__].has-icon__external-arrow {
			gap: 15px;
			svg {
				width: 10px;
				height: 12px;
				fill: var(--wp--preset--color--brand-yellow);
				transition: all .2s;
			}
			@media (hover: hover) {
				&:hover {
					svg {
						transform: translate(2px, -2px);
					}
				}
			}
			&.download {
				svg {
					width: 24px;
					height: 25px;
				}
				@media (hover: hover) {
					&:hover {
						svg {
							transform: translate(0, 3px);
						}
					}
				}
			}
		}
		&:not(.is-style-outline) {
			.wp-block-button__link {
				@media (hover: hover) {
					transition: all 0.2s;
					&:hover {
						border-color: var(--wp--preset--color--brand-charcoal) !important;
						color: var(--wp--preset--color--brand-charcoal) !important;
						background-color: #fff !important;
					}
				}
				header & {
					border: 0 none !important;
					@media (hover: hover) {
						&:hover {
							background-color: #DBD6D1 !important;
						}
					}
				}
			}
		}
		&.is-style-outline {
			.wp-block-button__link {
				@media (hover: hover) {
					transition: all 0.2s;
					&:hover {
						// border-color: var(--wp--preset--color--brand-charcoal) !important;
						background-color: var(--wp--preset--color--brand-charcoal) !important;
						color: #fff !important;
						// &:not(.has-background):not(.has-text-color) {
						// }
					}
				}
			}
		}
	}
}