@use '../core/mixins';

.wp-block-account-modal-collection-mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(70, 65, 61, .85);
	background-image: url('./images/loading.svg');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 10000;
	display: none;
	overflow: scroll;
}

.account_modal_collection {
	position: relative;
	top: 50%;
	max-width: 520px;
	padding: 36px 0;
	margin: 0 auto;
	transform: translate(0, -50%);
	transition: all .5s;
}

.account_modal_content {
	background: #fff;
	border-radius: 24px;
	padding: var(--wp--preset--spacing--30);
	overflow: hidden;
	form {
		position: relative;
		display: none;
		padding: 0;
		& > * {
			margin: 0;
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
		h2, h3 {
			margin: 0;
			&:first-letter {
				text-transform: capitalize;
			}
		}
		input[type="text"] {
			@include mixins.text-input-underline;
		}
		textarea {
			border: 1px solid var(--wp--preset--color--brand-yellow);
			padding: 8px;
			font-weight: normal;
			outline: none;
			resize: none;
			width: 100%;
			height: 200px;
		}		
	}
}

#new_image_collection_name,
#new_destination_collection_name {
	display: none;
	&.active {
		display: block;
	}
}

.edit_image_actions {
	padding-left: 0;
	list-style: none;
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 1fr;
	li {
		input {
			display: none;
		}
		label {
			display: block;
			padding: 12px;
			text-align: center;
			background-color: var(--wp--preset--color--brand-yellow);
			color: #FFF;
			opacity: 0.5;
			border-radius: 8px;
		}
		label:hover,
		input[type="radio"]:checked + label {
			background-color: var(--wp--preset--color--brand-yellow);
			color: #FFF;
			opacity: 1;
		}
	}
}

.image_form_header {
	position: relative;
	padding-right: 90px;
	min-height: 80px;
	margin-bottom: 20px;
}

.image_form_header p {
	margin: 0.5em 0 0;
	line-height: 1.25em;
}

.collection_image_preview {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	background-size: cover;
	background-position: center center;
	border-radius: 8px;
	overflow: hidden;
}

.account_modal_message {
	background: #FFF;
	padding: 20px;
	display: none;
}

#delete_image_submit {
	@include mixins.button;
	color: #eb2328;
	// background-color: #f9a7a9;
	margin-left: 8px;
	&:hover {
		text-decoration: none;
	}
}

#delete_collection_submit {
	color: #eb2328 !important;
}

#my_account_help {
	display: none;
	padding: 20px;
}

.account_modal_close {
	position: absolute;
	top: 0;
	right: -30px;
	@include mixins.close-icon;
	// display: block;
	// width: 30px;
	// height: 30px;
	// background-image: url('./images/nav.png');
	// background-size: 360px 30px;
	// background-repeat: no-repeat;
	// background-position: 27.27272727272727% 0;
	// cursor: pointer;
}

#edit_notes_email_button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 25px;
	height: 25px;
	background: url(./images/reactions3.png) 100% 0/200px 50px no-repeat;
	// background-size: ;
	// background-repeat: no-repeat;
	// background-position: 100% 0;
	z-index: 5;
	margin: 0;
	@media (hover: hover) {
		&:hover {
			background-position: 100% 100%;
		}
	}
}

/* The form hide.show classes */

body.collection_action {
	overflow: hidden;
}

.collection_action .wp-block-account-modal-collection-mask {
	display: block;
}

.collection_action_new #new_collection_form {
	display: block;
}

.collection_action_edit #edit_collection_form {
	display: block;
}

.collection_action_delete #delete_collection_form {
	display: block;
}

.collection_action_notes #edit_notes_form {
	display: block;
}

.collection_action_image #new_image_form {
	display: block;
}

.collection_action_edit_image #edit_image_form {
	display: block;
}

.collection_help #my_account_help {
	display: block;
}

.collection_action_manage_image #manage_image_form {
	display: block;
}

.collection_action_remove_image #remove_image_form {
	display: block;
}


/* Loading state */

.collection_action_loading .wp-block-account-modal-collection-mask {
	display: block;
}

.collection_action_loading .account_modal_collection {
	visibility: hidden;
	opacity: 0;
}

/* Action complete */

.collection_action_complete .account_modal_collection {
	visibility: visible;
	opacity: 1;
}

.collection_action_complete form {
	display: none !important;
}

.collection_action_complete .account_modal_message {
	display: block;
}

.myaccount {
	&.heart {
		@include mixins.heart-button;
	}
}