header.wp-block-template-part {
	position: relative;
	z-index: 10000;
	.header--nav-wrapper {
		position: relative;
		z-index: 10;
		background: #fff;
	}
	.header--search-overlay {
		&:not(.block-editor-block-list__block) {
			height: 0;
			.header--search-overlay--inner {
				transform: translate(0, -100%);
				transition: transform 0.3s;
				position: relative;
				z-index: 1;
			}
		}
	}
	.header-search-trigger,
	.header-profile-trigger {
		width: 24px;
		height: 24px;
		display: block;
		.wp-block-button__link {
			width: 24px;
			height: 24px;
		}
	}
}

// footer.wp-block-template-part {
// 	margin-block-start: 0;
// 	& > .wp-block-group {
// 	}
// }