@use '../core/mixins';

.wp-block-query, 
.wp-block-display-categories-grid {	
	.wp-block-post-excerpt__more-link {
		color: var(--wp--preset--color--brand-yellow);
	}
	.wp-block-post-template {
		list-style: none;
		padding-left: 0;
		h3, h4 {
			margin: 0 !important;
			a {
				@media (hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.wp-block-post-featured-image {
			margin: 0;
			display: block;
			:where(img) {
				border-radius: 24px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}
		&.is-layout-grid {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 40px var(--wp--preset--spacing--40);
			list-style: none;
			padding-left: 0;
			.wp-block-post {
				&.type-post {
					h3 {
						font-size: var(--wp--custom--typography--font-size--heading-3);
						margin-top: 5px !important;
					}
					.wp-block-read-more {
						display: none;
					}
				}
				&:not(:has(figure)) {
					& > .wp-block-group {
						&::before {
							content: "";
							background: #f6f6f6;
							width: 100%;
							aspect-ratio: 5 / 3;
							display: block;
							border-radius: 24px;
							margin-bottom: 24px;
						}
					}
				}
				h3, h4 {
					font-size: var(--wp--custom--typography--font-size--heading-4);
					white-space: nowrap;
					text-overflow: ellipsis;
					max-width: 100%;
					display: block;
					overflow: hidden;
					a {
						@include mixins.arrow-after;
					}
				}
				.wp-block-post-excerpt__excerpt {
					line-height: 1.35em;
				}
				.wp-block-post-featured-image {
					aspect-ratio: 5 / 3 !important;
					margin-bottom: 17px;
					& + h3,
					& + h4 {
						padding-left: 8px;
						padding-right: 8px;
					}
				}
				&.has-children {
					grid-column: span 2;
					& > .wp-block-group > .wp-block-post-featured-image {
						aspect-ratio: 3.41 !important;
					}
				}
				& > .wp-block-group {
					& > .wp-block-buttons {
						display: none;
					}
				}
			}
		}
		&.is-layout-flow {
			display: block;
			margin-top: 46px;
			.wp-block-post {
				padding: 8px;
				background: #fff;
				border-radius: 16px;
				&.type-post {
					& > .wp-block-group {
						max-width: 100%;
						overflow: hidden;
						& > .wp-block-group {
							margin-top: 0 !important;
							padding-left: 0 !important;
							padding-right: 0 !important;
							width: 100%;
							max-width: 100%;
							margin-left: 0;
							margin-right: 0;
						}
						.wp-block-post-author, 
						.wp-block-post-date,
						.wp-block-post-excerpt {
							display: block;
							margin: 0;
						}
						.wp-block-post-date {
							line-height: 1.3em;
						}
						.wp-block-post-excerpt__excerpt {
							white-space: nowrap;
							max-width: 100%;
							text-overflow: ellipsis;
							overflow: hidden;
							font-size: 0.875rem;
						}
						.wp-block-read-more {
							color: var(--wp--preset--color--brand-charcoal);
							font-size: 1rem;
							margin-left: 0 !important;
							margin-right: 0 !important;
							@include mixins.arrow-after;
						}
					}
				}
				& + .wp-block-post {
					margin-top: 16px;
				}
				&.has-children {
					padding-bottom: 24px;
				}
				& > .wp-block-group {
					display: grid;
					grid-template-columns: 152px minmax(0, 1fr) minmax(0, 15%);
					column-gap: 32px;
					align-items: center;
					justify-content: start;
					padding-bottom: 0 !important;
					min-height: 100px;
					h3, h4 {
						margin: 0 !important;
						align-self: center;
						grid-area: 1 / 2 / 2 / 3;
						white-space: nowrap;
						text-overflow: ellipsis;
						max-width: 100%;
						display: block;
						overflow: hidden;
					}
					.wp-block-post-author, 
					.wp-block-post-date,
					.wp-block-post-excerpt {
						display: none;
					}
					.wp-block-post-featured-image {
						aspect-ratio: auto !important;
						width: 100%;
						max-height: 100%;
						img {
							// width: 152px !important;
							height: 100px !important;
							border-radius: 12px !important;
						}
					}
					.children {
						margin-top: 32px;
						gap: 20px;
						.child {
							grid-template-columns: 150px 1fr auto;
							.wp-block-post-featured-image {
								padding-left: 0;
								img {
									height: 88px !important;
								}
							}
							h3, h4 {
								font-size: 1.25rem;
							}
						}
					}
				}
			}
		}
		.children {
			list-style: none;
			padding-left: 0;
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			gap: 24px;
			grid-column: span 3;
			margin-top: 54px;
			.child {
				display: grid;
				grid-template-columns: 160px 1fr auto;
				column-gap: 24px;
				align-items: center;
				justify-content: start;
				padding-bottom: 0 !important;
				.wp-block-post-featured-image {
					margin: 0;
					padding-left: 8px;
					display: grid;
					grid-template-columns: 20px 1fr;
					&::before {
						content: "";
						width: 20px;
						height: 20px;
						background: url(./images/corner-left-down.svg) 0 0/100% auto no-repeat;
						align-self: start;
					}
					img {
						border-radius: 12px;
					}
				}
				h4 {
					a {
						&::after {
							display: none;
						}
					}
				}
				.wp-block-buttons {
					padding-right: 32px;
				}
			}
		}
	}
}

.wp-block-group.alignfull:has(> .is-style-slider) {
	overflow: hidden;
}

.wp-block-query {
	&.is-style-slider {
		.wp-block-post-template.is-layout-grid {
			display: block;

		}
		.tns-slider {
			* {
				max-width: none !important;
			}
		}
		.tns-ovh {
			overflow: visible;
		}
		.wp-block-post-template.is-layout-grid {
			list-style: none;
			padding-left: 0;
			max-width: none !important;
			&:not(.tns-slider) {
				li:not(:first-child) {
					display: none; // stop loading repaint
				}
			}
			li {
				.wp-block-post-featured-image {
					aspect-ratio: 2.1 !important;
					border-radius: 24px;
					overflow: hidden;
					img {
						aspect-ratio: 2.1 !important;
						object-fit: cover;
					}
				}
				.wp-block-buttons {
					display: none;
				}
			}
		}
	}
}