.wp-block-course-information,
.wp-block-course-information-details,
.wp-block-course-information-structure
{
	ul {
		padding-left: 16px;
	}
}
.wp-block-course-information-structure,
.wp-block-course-information-details {
	& > div {
		display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 8px;
		& > div {
			// margin-top: 24px;
			// margin-bottom: 24px;
			width: 100%;
			@media (min-width: 768px) { 
				width: calc(50% - 12px);
			}
		}
		h5 {
			margin-top: 0;
			margin-bottom: 0;
			& + * {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		& > *:first-child {
			margin-top: 0;
		}
	}
}

.wc-block-components-notice-banner {
	&:focus-visible {
		outline: 0 none;
	}
}