.wp-block-query {	
	.wp-block-post-excerpt__more-link {
		color: var(--wp--preset--color--brand-yellow);
	}
	.wp-block-post-template {
		&.is-layout-grid {
			.wp-block-post {
				&:not(:has(figure)) {
					& > .wp-block-group {
						&::before {
							content: "";
							background: #f6f6f6;
							width: 100%;
							aspect-ratio: 5 / 3;
							display: block;
							border-radius: 24px;
							margin-bottom: 24px;
						}
					}
				}
				.wp-block-post-featured-image {
					aspect-ratio: 5 / 3 !important;
				}
			}
		}
		&.is-layout-flow {
			.wp-block-post {
				padding: 8px;
				background: #fff;
				border-radius: 16px;
				& > .wp-block-group {
					display: grid;
					grid-template-columns: 152px 1fr auto;
					column-gap: 32px;
					align-items: start;
					justify-content: start;
					padding-bottom: 0 !important;
					height: 100px;
					h4 {
						align-self: center;
						margin: 0 !important;
						grid-area: 1 / 2 / 2 / 3;
					}
					.wp-block-post-featured-image {
						aspect-ratio: auto !important;
						max-height: 100%;
						img {
							width: 152px !important;
							height: 100px !important;
							border-radius: 12px !important;
						}
					}
				}
			}
		}
	}
}