.wp-block-group {
	&.is-style-overlap {
		position: relative;
		transform: translate(0, -28px);
		margin-bottom: -28px !important;
		z-index: 1;
		border-radius: var(--home-base--radius) var(--home-base--radius) 0 0;
	}
}