.wp-block-my-profile {
	background-color: #fff;
	border-radius: 12px;
	padding: 4px 8px;
	max-width: 544px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--wp--preset--color--brand-charcoal);
	gap: 16px;
	.thumbnail {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.nicename {
		font-size: 0.875rem;
	}
	.config {
		margin-right: 0;
		margin-left: auto;
		a {
			width: 32px;
			height: 32px;
			display: block;
		}
	}
}