@use '../core/mixins';

header.wp-block-template-part {
	position: relative;
	z-index: 10000;
	margin: 0;
	position: sticky;
	top: 0;
	background: #fff;
	transition: transform 0.2s;
	body.admin-bar & {
		top: 46px;
		@media (min-width: 783px) { 
			top: 32px;
		}
	}
	body.header-hide & {
		transform: translate(0, -100%);
		transition: transform 0.4s;
	}
	html.has-modal-open body.header-hide & {
		transform: none;
	}
	.header--nav-wrapper {
		position: relative;
		z-index: 10;
		background: #fff;
	}
	.header--search-overlay {
		&:not(.block-editor-block-list__block) {
			height: 0;
			.header--search-overlay--inner {
				transform: translate(0, -100%);
				transition: transform 0.3s;
				position: relative;
				z-index: 1;
			}
		}
	}
	.header-search-trigger,
	.header-profile-trigger {
		width: 40px;
		height: 40px;
		display: block;
		.wp-block-button__link {
			// width: 24px;
			// height: 24px;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 20px;
			transition: background-color 0.2s;
			@media( hover: hover ) {
				&:hover {
					background-color: #DBD6D1 !important;
				}
			}
		}
	}
	.header-search-trigger .wp-block-button__link {
		body.show-home-base-search & {
			background-color: #DBD6D1 !important;
		}
	}
	.wp-block-navigation .wp-block-navigation-item__content {
		color: #000;
		transition: color 0.2s;
		@media(hover: hover) {
			&:hover {
				color: var(--wp--preset--color--brand-oliver);
				text-decoration: none;
			}
		}
	}
	.home-base-logo {
		width: 100px;
		@media (min-width: 782px) {
			width: 127px;
		}
	}
	.wp-block-navigation__responsive-container-open {

	}
	.wp-block-navigation:not(.has-background) {
		.wp-block-navigation__responsive-container-open {
			svg.open {
				html.has-modal-open & {
					display: none;
				}
			}
			svg.close {
				display: none;
				html.has-modal-open & {
					display: block;
				}
			}
		}
		.wp-block-navigation__responsive-container {
			&.is-menu-open {
				top: 80px;
				background-color: var(--wp--preset--color--brand-dust);
				padding-left: 16px;
				padding-right: 16px;
				body.admin-bar & {
					top: 126px;
					@media (min-width: 783px) { 
						top: 112px;
					}
				}
				
				.wp-block-navigation__responsive-container-content {
					max-width: 544px;
					padding-top: 44px;
					margin-left: auto;
					margin-right: auto;
					.wp-block-navigation__container {
						width: 100%;
						gap: 4px;
						align-items: stretch;
						.wp-block-navigation-item__content {
							width: 100%;
							background: #fff;
							border-radius: 12px;
							display: flex;
							align-items: center;
							padding: 16px 25px 16px 15px;
							justify-content: space-between;
							font-size: var(--wp--custom--typography--font-size--large);
							@include mixins.arrow-after;
						}
					}
				}
				.wp-block-navigation__responsive-container-close {
					display: none !important;
				}
			}
		}
	}
}

footer.wp-block-template-part {
// 	margin-block-start: 0;
	.newsletter-signup-wrapper {
		& > .wp-block-group {
			@media (max-width: 781px) {
				// Doesn't work for all footers
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
	}
	& > .wp-block-group {
		&:first-child {
		}
		&:last-child {
			& > .wp-block-columns {
				@media (max-width: 781px) {
					--wp--custom--line-height--small: 1rem;
					padding-left: 0 !important;
					padding-right: 0 !important;
					display: grid;
					grid-template-columns: 1fr 1fr;
					.wp-block-navigation__container {
						gap: 16px;
					}
					p + p {
						margin-top: 16px !important;
					}
				}
			}
		}
	}
	.wp-block-group {
		&:has(> .wp-block-getwid-map) {
			@media (max-width: 781px) {
				padding-left: 0 !important;
				padding-right: 0 !important;
				margin-left: -8px !important;
        margin-right: -8px !important;
        width: auto;
			}
		}
	}
}