.wp-block-buttons {
	.wp-block-button {
		&[class*=has-icon__].has-icon__external-arrow {
			gap: 15px;
			svg {
				width: 10px;
				height: 12px;
				fill: var(--wp--preset--color--brand-yellow);
				transition: all .2s;
			}
			@media (hover: hover) {
				&:hover {
					svg {
						transform: translate(2px, -2px);
					}
				}
			}
		}
		&.is-style-outline {
			.wp-block-button__link {
				border-width: 1px;
				color: var(--wp--preset--color--brand-charcoal);
				padding: 9px 16px 9px 16px;
				line-height: 1.25em;
				.has-brand-charcoal-background-color & {
					color: var(--wp--preset--color--white);
				}
			}
		}
	}
}