.wp-block-cover {
	@media (max-width: 782px) { 
		min-height: 380px; // 340px;
		
	}
	.wp-block-cover__inner-container {
		z-index: 1000;
		body.showing_gallery & {
			z-index: -1;
		}
	}
	&:has(.wp-block-my-profile) {
		overflow-y: visible;	
	}
}