:root {
	--home-base--overlap--gap: 48px;
}

.wp-block-group {
	&.is-style-overlap {
		position: relative;
		transform: translate(0, calc(-1 * var(--home-base--overlap--gap)));
    margin-bottom: calc(-1 * var(--home-base--overlap--gap)) !important;
		z-index: 1;
		border-radius: var(--home-base--radius) var(--home-base--radius); // 0 0
		& + .wp-block-group > .is-style-overlap {
			opacity: .25;
		}
		&.block-visibility-hide-small-screen {
			// If hidden shift up next item
			@media (max-width: 781.98px) {
				& + .wp-block-group {
					margin-top: 0;
					transform: translate(0, calc(-1 * var(--home-base--overlap--gap)));
					margin-bottom: calc(-1 * var(--home-base--overlap--gap)) !important;
					z-index: 1;
					position: relative;
				}
			}
		}
	}
	&#newsletter-signup {
		form {
			display: grid;
			grid-template-columns: 1fr auto;
			gap: 1rem;
			button {
				display: flex;
				gap: 15px;
				align-items: center;
				svg {
					width: 10px;
					height: 12px;
					color: var(--wp--preset--color--brand-yellow);
					transition: all .2s;
				}
				@media (max-width: 782px) {
					svg {
						display: none;
					}
				}
				@media (hover: hover) {
					&:hover {
						svg {
							transform: translate(2px, -2px);
						}
					}
				}
			}
		}
	}
	&:has(> .is-style-overlap) {
		@media (max-width: 781px) { 
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.alignfull:has(+ .alignfull .wp-block-query > .wp-block-post-template),
	&.alignfull:has(.wp-block-query > .wp-block-post-template),
	&.alignfull:has(+ .alignfull .wp-block-display-categories-grid > .wp-block-post-template),
	&.alignfull:has(.wp-block-display-categories-grid > .wp-block-post-template) {
		transition: background-color 0.3s;
	}
	&.alignfull:has(+ .alignfull .wp-block-query > .wp-block-post-template.wp-block-post-template-is-layout-flow),
	&.alignfull:has(.wp-block-query > .wp-block-post-template.wp-block-post-template-is-layout-flow) {
		background-color: #F0EFED;
	}
	&.alignfull:has(+ .alignfull .wp-block-display-categories-grid > .wp-block-post-template.wp-block-post-template-is-layout-flow),
	&.alignfull:has(.wp-block-display-categories-grid > .wp-block-post-template.wp-block-post-template-is-layout-flow) {
		background-color: #F0EFED;
	}
	
	&.about-menu {
		& > * {
			min-width: 108px;
			text-align: center;
			a {
				display: block;
				border-bottom: 1px solid #fff;
				transition: border-bottom-color 0.2s;
				@media (hover: hover) {
					&:hover {
						text-decoration: none;
						border-bottom-color: var(--wp--preset--color--brand-yellow);	
					}
				}
			}
			&:first-child {
				& > a {
					border-bottom-color: var(--wp--preset--color--brand-yellow);
				}
			}

		}

	}
	
	&.profile-menu {
		display: flex;
		justify-content: center;
	}
	&#about-display-grid {
		@media (max-width: 781px) { 
			row-gap: 32px;
		}
	}
}

*:not(.wp-block-cover):has(+ .wp-block-group > .is-style-overlap:first-child),
*:not(.wp-block-cover):has(+ .is-style-overlap) {
	&::after {
		content: "";
		width: 100%;
		height: var(--home-base--overlap--gap);
		display: block;
	}
}